.ItemDetailContainer, .ItemDetailContainer_Interior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}



h1 {
  margin: 0;
  padding: 10px 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}
