.navBar {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
}
.navBar .logo {
  width: 110px;
}

.contenedorParrafos {
  display: flex;
  gap: 10px;
}

.navBar .contenedorParrafos p {
  color: #cbd1d8;
  font-weight: 600;
}

.navBar .contenedorParrafos .solicitarTarjeta img,
.navBar .contenedorParrafos .haceteCliente img {
  width: 20px;
  height: 20px;
}

.navBar .contenedorParrafos .solicitarTarjeta,
.navBar .contenedorParrafos .haceteCliente {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navBar .contenedorParrafos .haceteCliente {
  color: #f7cd52;
}

.navBar .contenedorParrafos .solicitarTarjeta:hover,
.navBar .contenedorParrafos .haceteCliente:hover {
  cursor: pointer;
  color: #fff;
}

.navBar ul {
  margin-right: 50px;
  display: flex;
  gap: 50px;
}

.navBar ul li {
  display: flex;
  align-items: center;
}

.navBar ul li a {
  color: #cbd1d8;
  text-decoration: none;
  font-weight: 600;
}

.navBar ul li a:hover {
  color: #fff;
}
